.bg-pure-dark{
    background: black;
}

.mh-100v{
    min-height: 100vh;
}

.no-focus:focus{
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}

.fulls{
    width: 100%;
    height: 100vh;
}

.cursor-pointer{
    cursor: pointer;
}

.text-dark{
    color: black;
}

.opacity-50{
    opacity: .5;
}